.navStyle {
    text-align: center;
    background-color: #96C8EE;
  }

.buttonStyle {
    margin: 0px 10px 0px 10px; 
}


.centeredText {
    text-align: center;
    background-color: #E5E5E5;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .danny {
    text-align: center;
  }

